---
BasedOnStyle: Microsoft
IndentWidth: 4
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: AcrossComments
PointerAlignment: Left
ReferenceAlignment: Left
AlignConsecutiveDeclarations: AcrossComments
BreakBeforeConceptDeclarations: Always
IndentRequiresClause: true
AlwaysBreakTemplateDeclarations: true